.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top:   2rem; 
  
}
.logoLink {
  background: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--primary);
  border-radius: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.logoLink:hover {
  filter: brightness(80%);
 

}
.logoLink:active {
  transform: scale(0.93);
  transition: 0.01s ease-in-out;
  
}
.logoLink svg {
  width: 3rem;
  height: 3rem;
}